<div class="custom-pad">
    <div class="social-parts">
        <h3>
            <img src="{{cdn 'img/inst-icon.svg'}}" alt="instagram">
            <a href="https://www.instagram.com/cubo_eyewear/" target="_blanl">
                <span>Instagram</span> @cubo_eyewear
            </a>
        </h3>
        <div class="slide-wrap">
            <section class="instatCarousel"
                data-list-name="{{list}}"
                data-slick='{
                    "infinite": true,
                    "autoplay": true,
                    "dots": false,
                    "arrows": false,
                    "slidesToShow": 6,
                    "slidesToScroll": 1,
                    "centerMode": true,
                    "centerPadding": "150px",
                    "slide": "[inst-slide]",
                    "responsive": [
                        {
                            "breakpoint": 550,
                            "settings": {
                                "slidesToShow": 1,
                                "slidesToScroll": 1,
                                "centerMode": true,
                                "centerPadding": "70px"
                            }
                        },
                        {
                            "breakpoint": 740,
                            "settings": {
                                "slidesToShow": 2,
                                "slidesToScroll": 1,
                                "centerMode": true,
                                "centerPadding": "60px"
                            }
                        },
                        {
                            "breakpoint": 1015,
                            "settings": {
                                "slidesToShow": 3,
                                "slidesToScroll": 1,
                                "centerMode": true,
                                "centerPadding": "70px"
                            }
                        },
                        {
                            "breakpoint": 1440,
                            "settings": {
                                "slidesToShow": 4,
                                "slidesToScroll": 1,
                                "centerMode": true,
                                "centerPadding": "90px"
                            }
                        },
                        {
                            "breakpoint": 1800,
                            "settings": {
                                "slidesToShow": 5,
                                "slidesToScroll": 1,
                                "centerMode": true,
                                "centerPadding": "20px"
                            }
                        }
                    ]
                }'
            >
                <div class="instatCarousel-slide" inst-slide>
                    <a href="#">
                        <div class="inst-slide_img" style="background-image: url({{cdn 'img/slide_1.jpg'}});">
                            <img src="{{cdn 'img/slide_1.jpg'}}" alt="slide 1" />
                        </div>
                    </a>
                </div>
                <div class="instatCarousel-slide" inst-slide>
                    <a href="#">
                        <div class="inst-slide_img" style="background-image: url({{cdn 'img/slide_2.jpg'}});">
                            <img src="{{cdn 'img/slide_2.jpg'}}" alt="slide 2" />
                        </div>
                    </a>
                </div>
                <div class="instatCarousel-slide" inst-slide>
                    <a href="#">
                        <div class="inst-slide_img" style="background-image: url({{cdn 'img/slide_3.png'}});">
                            <img src="{{cdn 'img/slide_3.png'}}" alt="slide 3" />
                        </div>
                    </a>
                </div>
                <div class="instatCarousel-slide" inst-slide>
                    <a href="#">
                        <div class="inst-slide_img" style="background-image: url({{cdn 'img/slide_4.png'}});">
                            <img src="{{cdn 'img/slide_4.png'}}" alt="slide 4" />
                        </div>
                    </a>
                </div>
                <div class="instatCarousel-slide" inst-slide>
                    <a href="#">
                        <div class="inst-slide_img" style="background-image: url({{cdn 'img/slide_1.jpg'}});">
                            <img src="{{cdn 'img/slide_1.jpg'}}" alt="slide 1" />
                        </div>
                    </a>
                </div>
                <div class="instatCarousel-slide" inst-slide>
                    <a href="#">
                        <div class="inst-slide_img" style="background-image: url({{cdn 'img/slide_2.jpg'}});">
                            <img src="{{cdn 'img/slide_2.jpg'}}" alt="slide 2" />
                        </div>
                    </a>
                </div>
                <div class="instatCarousel-slide" inst-slide>
                    <a href="#">
                        <div class="inst-slide_img" style="background-image: url({{cdn 'img/slide_3.png'}});">
                            <img src="{{cdn 'img/slide_3.png'}}" alt="slide 3" />
                        </div>
                    </a>
                </div>
                <div class="instatCarousel-slide" inst-slide>
                    <a href="#">
                        <div class="inst-slide_img" style="background-image: url({{cdn 'img/slide_4.png'}});">
                            <img src="{{cdn 'img/slide_4.png'}}" alt="slide 4" />
                        </div>
                    </a>
                </div>
            </section>
        </div>
    </div>
</div>
