<div class="white-row">
    <div class="row-customs">
        <div class="slider-grid">
            <h2 class="page-heading" id="magicString"></h2>
            {{inject 'myTitleName' (lang 'products.featured')}}
            {{#if settings.data_tag_enabled}}
                {{> components/custom/custom-carusel products=products list="Featured"}}
            {{else}}
                {{> components/custom/custom-carusel products=products}}
            {{/if}}
        </div>
    </div>
    <script>
        let jsContext = JSON.parse({{jsContext}});
        let newLine = jsContext.myTitleName.split(' ').join(`<br />`);
        magicString.innerHTML = newLine;
    </script>
</div>
