<section class="product-info">
    <div class="white-row">
        <div class="row-customs">
            <div class="grider">
                <div class="grider-box">
                    <div class="text-box">
                        <h3>What’s<br>included</h3>
                        <p>All Glasses come with a premium mircofibre cloth and carry case. <strong>We offer a 2 year manufacturing warranty on all Cubo frames and lenses.</strong></p>
                        <p>Please contact us if you require any further details.</p>
                    </div>
                </div>
                <div class="grider-box">
                    <div class="image-box" style="background-image: url({{cdn 'img/Glasses_2.jpg'}});">
                        <img src="{{cdn 'img/Glasses_2.jpg'}}" alt="Glasses">
                    </div>
                </div>
                <div class="grider-box">
                    <div class="image-box" style="background-image: url({{cdn 'img/Glasses_1.jpg'}});">
                        <img src="{{cdn 'img/Glasses_1.jpg'}}" alt="Glasses">
                    </div>
                </div>
                <div class="grider-box">
                    <div class="text-box left-side">
                        <h3>the materials<br>we use...</h3>
                        <p>Our frames are ethically sourced and hand made in Italy.</p>
                        <p>Made with the gold standard of Italian acetate (mazzuccelli) with stainless stealbarrel hinges. All lenses include an easy clean anti glare coating.</p>
                        <div class="flag-icon">
                            <img src="{{cdn 'img/Italian_Flag.png'}}" alt="Italian flag">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrap-custom">
        <div class="row-customs">
            <div class="grider chenger">
                <div class="grider-box">
                    <div class="image-box" style="background-image: url({{cdn 'img/Frame_Sizing.jpg'}});">
                        <img src="{{cdn 'img/Frame_Sizing.jpg'}}" alt="Frame sizing">
                    </div>
                </div>
                <div class="grider-box">
                    <div class="text-box left-side">
                        <h3 class="title-line">Frame Sizing Explained</h3>
                        <p class="correct-text">
                            <span>A</span> Lens eyesize width (<i>mm</i>)<br>
                            <span>B</span> Lens depth (<i>mm</i>)<br>
                            <span>DBL</span> Bridge width (<i>mm</i>)<br>
                            <span>LTB</span> Arm Length (<i>mm</i>)</p>
                        <p>To help you find the best fit, we’ve labbeled each frame as;
                        Petite - Regular - Large </p>
                        <p>If it’s all a bit confusing, don’t worry! Just contact our optical team who will be more than happy to help find the best option for you.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
