// =============================================================================
// ACTION BAR (CSS)
// =============================================================================


.actionBar-section {
    .form-field {
        background-color: #fff;
        border: 1px solid #757575;
        /* border: $actionBar-form-field-border; */
        border-radius: $actionBar-form-field-radius;

        &:hover {
            border-color: stencilColor("input-border-color-active");
        }
    }

    .form-label {
        color: #757575;
        font-size: $actionBar-form-label-fontSize;
        line-height: $actionBar-form-label-lineHeight;
        margin-bottom: 0;
        padding-left: $actionBar-form-label-padding;
    }

    .form-input,
    .form-select {
        border: 0;
        padding-left: $actionBar-form-input-padding;
        width: auto;
    }

    .form-label,
    .form-input,
    .form-select {
        display: inline-block;
    }

    .form-select {
        color: stencilColor("color-textLink");
        height: $input-small-height - remCalc($input-border-width * 2);
    }
}
