// =============================================================================
// CONTAINERS-PARTS (CSS)
// =============================================================================

// off default
.castom-container {
    padding: 0;

    >img{
        padding: 10px 0;
    }
    
    .page-heading{
        color: stencilColor('mein-color');
        font-weight: 300;
        font-size: 48px;
        line-height: 56px;
    }

    .pagination-link{
        
        .icon{
            display: none;
        }
    }
}
.bg-colors{
    .page{
        margin: 0;
    }
    .page-content--centered{
        width: 100%;
        color: stencilColor('mein-color');
        h1{
            color: stencilColor('mein-color');
        }
        p{
            color: stencilColor('mein-color');
        }
    }
    .castom-container{
        >img{
            max-height: 506px;
            object-fit: cover;
        }
    }
}
// chenge default
.footer-info-heading{
    text-transform: uppercase!important;
    color: stencilColor('mein-color');
}
//custom
.bg-colors{
    padding: 1px 0;
    background-color: #FBF7F3;
}
.breyker{
    margin-top: calc(100vh - #{$header-height});
}
.white-row{
    background-color: #ffffff;
}
.row-customs{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;

    .page{
        margin: 0 auto;
    }
}
.colpadings{
    padding: 81px 0 61px;
}
.custom-pad{
    padding: 81px 0 0;
}
