// =============================================================================
// CUSTOM-FOOTERS (CSS)
// =============================================================================
.blocker-0{
    grid-area: left-1;
}
.blocker-1{
    grid-area: left-2;
}
.blocker-2{
    grid-area: left-3;
}
.blocker-3{
    grid-area: left-4;
}
.blocker-4{
    grid-area: left-5;
}
.blocker-5{
    grid-area: left-6;
}
.aside{
    grid-area: right-1;
}

.footer-info{
    @include breakpoint("xxsmall") {
        display: flex;
        flex-direction: column-reverse;
    }

    @include breakpoint("small") {
        display: grid;
        flex-direction: unset;
        grid-template-columns: 1fr 1fr;
        grid-template: 'left-1 right-1'
                        'left-2 right-1'
                        'left-3 right-1'
                        'left-4 right-1'
                        'left-5 right-1'
                        'left-6 right-1';
        padding-bottom: 15px;
        &::after{
            display: none!important;
        }
        &::before{
            display: none!important;
        }
    }

    @include breakpoint("medium") {
        display: flex;
        padding-bottom: unset;
        &::after{
            display: inherit!important;
        }
        &::before{
            display: inherit!important;
        }
    }

    .footer-info-heading{

        @include breakpoint("xxsmall") {
            margin-top: 0;
        }
    }

    .footer-info-heading{

        @include breakpoint("small") {
            margin-top: inherit;
        }
    }

}
.form-prefixPostfix.wrap{
    @include breakpoint("large") {
        flex-wrap: nowrap;
    }
}
.footer-info-col{
    @include breakpoint("xxsmall") {
        text-align: left!important;
        margin-bottom: 15px!important;
    }
    @include breakpoint("small") {
        text-align: inherit!important;
        margin-bottom: 15px!important;
    }
    @include breakpoint("medium") {
        text-align: inherit!important;
        margin-bottom: inherit!important;
    }
}
.see-you{
    position: relative;

    .show-marker{
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);

        &::after{
            content: "+";
        }
    }
    .hide-marker{
        &::after{
            content: "-";
        }
    }
}
.expand{
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    height: auto;
    transition: ease 0.7s all;
}
.show__this {
    max-height: 3500px;
    opacity: 1;
    display: block;
    transition: ease 0.7s all;
    padding-top: 10px;
}
