// =============================================================================
// HEADS-PART (CSS)
// =============================================================================

.header__part{
    background-image: url("../img/home_bg.jpg");
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.part-wrap{
    position: relative;
    height: 100%;
    width: 100%;
}
@keyframes pulse{
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}
.part-block{
    width: 100%;
    position: absolute;
    background-color: #fff;
    height: 100%;
    top: 50%;
    left: 15%;
    max-height: 257px;
    max-width: 500px;
    padding: 46px 50px;
    transform: translate(-15%, -50%);

    @include breakpoint("small") {
        padding: 25px;
        max-height: 170px;
        max-width: 400px;
    }
    @include breakpoint("large") {
        padding: 25px;
        max-height: 257px;
        max-width: 500px;
    }
}
.part-text_top {

    h2 {
        color: stencilColor('mein-color');
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin: 0;
        font-size: 36px;
        line-height: 55px;
        padding-bottom: 26px;
        
        @include breakpoint("xxsmall") {
            padding-bottom: 0px;
            padding-bottom: 15px;
            font-size: 30px;
            line-height: 40px
        }
        @include breakpoint("large") {
            font-size: 36px;
            line-height: 55px;
            padding-bottom: 26px;
        }
    }
}
.part-text_bot {

    p{
        color: stencilColor("secons-color");
        font-weight: fontWeight("medium");
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        position: relative;

        &::after {
            display: block;
            width: 53px;
            content: '';
            position: absolute;
            left: 150px;
            border-bottom: 1px solid stencilColor("secons-color");
            top:50%;
        }
    }
}
.part-arrow_down {
    position: absolute;
    left: 50%;
    bottom: 34px;
    animation: pulse 2s infinite ease;

    img {
        @include breakpoint("xxsmall") {
            max-width: 20px;
        }
        @include breakpoint("large") {
            max-width: 100%;
        }
    }
}
