// =============================================================================
// PRODUCT-STATIC-INF (CSS)
// =============================================================================
.grider{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 65px;
    column-gap: 95px;

    .image-box{
        max-width: 600px;
        height: 600px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        img{
            height: 0;
            width: 0;
        }
    }
    @include breakpoint("xxsmall") {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
    @include breakpoint("small") {
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
        column-gap: 30px;
    }
    @include breakpoint("large") {
        grid-template-columns: 1fr 1fr;
        row-gap: 65px;
        column-gap: 95px;
    }
}
.white-row{
    .grider{
        padding: 100px 0 30px;
    }
}
.text-box{
    text-align: right;
    max-width: 360px;
    width: 100%;
    margin: 0 0 0 auto;

    h3{
        font-size: 32px;
        line-height: 50px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: stencilColor('mein-color');
        font-weight: fontWeight("normal");
        margin-top: 0;
    }
    p{
        font-size: 16px;
        line-height: 30px;
        color: stencilColor('mein-color');
    }
}
.grider-box{
    display: flex;
    justify-content: center;
    flex-direction: column;

    .left-side{
        text-align: left;
        margin: 0 auto 0 0;
        p{
            margin-bottom: 1.5rem;
        }
    }
}
.wrap-custom{
    padding: 93px 0;
}
.chenger{
    column-gap: 64px;
    .image-box{
        height: 495px;
        max-width: 384px;
        width: 100%;
        margin: auto 0 0 auto;
    }
    .correct-text{
        position: relative;
        padding-left: 50px;
    }
    span{
        font-weight: bold;
        position: absolute;
        left: 0;
    }
    h3{
        padding-bottom: 15px;
        position: relative;
        margin-bottom: 30px;

        &::after{
            display: block;
            width: 53px;
            content: '';
            position: absolute;
            border-bottom: 2px solid #D59F99;
            bottom: 0;
            left: 0;
        }
    }
    .text-box{
        max-width: 460px;
    }
}
